html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
  /* Adjust font sizes and layout for smaller screens */
}

body {
    background-image: url('ezgif.com-video-to-gif (1).gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: Rockwell Condensed;
    font-size: 2em;
    color: beige;
    margin-bottom: 22%;
}

ol li {
    list-style-type: none;
    font-size: 1.2em;
    font-family: Bell MT;
    color:azure;
    display: inline-block;
    margin-right: 15px;
}

ol {
    text-align: center;
}

ol li:hover {
    color: burlywood;
}

ol li a {
    text-decoration: none;
    color:azure;
}

ol li a:hover {
    color: burlywood;
}

.list {
    margin-top: 5em;
    list-style-type: none;
    font-size: 1.2em;
    font-family: Bell MT;
    color:azure;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}

.list ol li:hover {
    color: burlywood;
}
